name: Generate Snake 

on:
  push:
    branches: [main]          # 专爪 转  push -main
  workflow_dispatch:          # 驻砖专转 专抓 转 砖转 Actions
  schedule:
    - cron: "0 0 * * *"       # 驻注  (爪转 UTC)

jobs:
  snake:
    permissions:              # 驻砖专 -GITHUB_TOKEN 爪注 push 注祝 output
      contents: write
    runs-on: ubuntu-latest

    steps:
      # 爪专 转 拽抓 -SVG
      - uses: Platane/snk@v3
        with:
          github_user_name: simaon78i
          outputs: |
            github-contribution-grid-snake.svg
        env:                   # 住专 转 拽  -snk (转专 )
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # 祝 转 -SVG 注祝 output
      - name: Push snake to GitHub
        uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: output
          build_dir: .
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
